# Python-Build-Dateien
*.pyc
*.pyo
__pycache__/
.coverage
htmlcov
.pytest_cache

# Umgebungsdateien
.env
.venv/
env/
venv/
ENV/
environment.ini
.env

# Django-Migrationsdateien
*/migrations/*.pyc
*/migrations/__pycache__/

# Datenbankdateien
db.sqlite3

# Medien-Uploads
media/

# Statische Dateien
staticfiles/
/static/
/static
# Logdateien
*.log

# Konfigurationsdateien für IDEs
.idea/
.vscode/

# Sonstige temporäre Dateien
*.bak
*.swp
