
<!DOCTYPE html>
<html>
  <head>
    <title>Passwort zurücksetzen</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/password_reset.css' %}"
    />
  </head>
  <body>

    <div class="header-cont">
      <div class="header">
        <a href="#" class="logo">
          <span class="red">CHILL</span>
          <span class="n-letter">'N'</span>
          <span class="red">FLIX</span>
        </a>
        <div class="right-cont">
          <a href="#" class="login-btn">
            <span class="login-span">Login</span>
          </a>
        </div>
      </div>
      <div class="seperator"></div>
    </div>

    <div class="middle-section">
      <h1>Dein Passwort wurde erfolgreich zurückgesetzt !</h1>
      <span class="span-login-txt">Du kannst dich nun wieder einloggen !</span>
      <a href="#" class="login-middle-section">
        <span class="login-span">Zum Login</span>
      </a>
    </div>

    <div class="footer-cont">
      <div class="seperator"></div>
      <div class="footer">
        <div class="left-cont">Impressum</div>
        <div class="foot-middle-cont"><span>&copy;</span> Sebastian Wolff</div>
        <div class="right-cont">Datenschutzerklärung</div>
      </div>
    </div>
  </body>
</html>






