<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/password_reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}" />
    <script>
      
      function togglePasswordVisibility(inputId) {
        const passwordField = document.getElementById(inputId);

        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }

      function toggleSubmitButton() {
        const password = document.getElementById("password").value;
        const password2 = document.getElementById("password2").value;
        const submitButton = document.getElementById("submitBtn");

        if (password.trim() !== "" && password2.trim() !== "") {
          submitButton.disabled = false;
          
        } else {
          submitButton.disabled = true;
          
        }
      }
    </script>
  </head>
  <body>
    <div class="header-cont">
      <div class="header">
        <a href="#" class="logo">
          <img src="{% static "/img/Logo.png" %}" />
        </a>
        <div class="right-cont">
          <a href="https://bastian-wolff.de/videoflix/" class="login-btn">
            <span class="login-span">Login</span>
          </a>
        </div>
      </div>
      {% comment %}
      <div class="seperator"></div>
      {% endcomment %}
    </div>

    <div class="middle-cont">
      <h1>Passwort zurücksetzen</h1>
      <span
        >Lege dir ein neues Passwort für dein <b>Videoflix</b>-Account
        fest</span
      >
      <form method="post" action="{% url 'password_reset_verified_page' %}">
        {% csrf_token %}
        <div class="pw-form">
          <div class="pw-input">
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Dein neues Passwort.."
              oninput="toggleSubmitButton()"
              autocomplete="current-password"
            />
            <div onclick="togglePasswordVisibility('password')" class="visibility">
              <img src="{% static "/img/visibility.png" %}" />
            </div>
          </div>
          <div class="pw-input">
            <input
              id="password2"
              type="password"
              name="password2"
              placeholder="Bestätige dein neues Passwort.. "
              oninput="toggleSubmitButton()"
              autocomplete="current-password"
            />
            <div onclick="togglePasswordVisibility('password2')" class="visibility">
              <img src="{% static "/img/visibility.png" %}" />
            </div>
          </div>
          {% if form.password.errors %}
          <span class="error">{{ form.password.errors.0 }}</span>
          {% endif %} {% if form.password2.errors %}
          <span class="error">{{ form.password2.errors.0 }}</span>
          {% endif %}
          <button
            id="submitBtn"
            class="submit-btn-active"
            type="submit"
            value="Submit"
            disabled
          >
            Passwort zurücksetzen
          </button>
        </div>
      </form>
    </div>

    <div class="footer-cont">
      <div class="footer">
        <a href="https://bastian-wolff.de/videoflix/" class="left-cont">Impressum</a>
        <a href="https://bastian-wolff.de/videoflix/" class="left-cont">Datenschutzerklärung</a>
      </div>
    </div>
  </body>
</html>
