
<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset Verified</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/password_reset.css' %}"
    />
  </head>
  <body>
    <div class="header-cont">
        <div class="header">
            <a href="#" class="logo">
                <span class="red">CHILL</span>
                <span class="n-letter">'N'</span>
                <span class="red">FLIX</span>
            </a>
            <div class="right-cont">
                <a href="#" class="login-btn">
                    <span class="login-span">Login</span>
                </a>
            </div>
        </div>
        <div class="seperator"></div>
    </div>
    
    <div class="middle-cont">
    <h1>Setze nun dein Passwort zurück</h1>
    <form method="post" action="{% url 'password_reset_verified_page' %}">
      {% csrf_token %} {% if form.non_field_errors %} Non-Field Errors:<br />
      {{ form.non_field_errors }} {% endif %} {% if form.errors %} Field
      Errors:<br />
      <font color="red">{{ form.errors }}</font>
      {% endif %}
      <div class="pw-form">
        <div class="pw-input">
          <input
            type="text"
            name="password"
            placeholder="Gib dein neues Passwort ein"
          />
        </div>
        <div class="pw-input">
          <input
            type="text"
            name="password2"
            placeholder="Gib dein neues Passwort nochmal ein"
          />
        </div>
        <button type="submit" value="Submit" style="font-size: 24px">
          Submit
        </button>
      </div>
    </form>
    </div>
    
    <div class="footer-cont">
        <div class="seperator"></div>
        <div class="footer">
            <div class="left-cont">Impressum</div>
            <div class="foot-middle-cont"><span>&copy;</span> Sebastian Wolff</div>
            <div class="right-cont">Datenschutzerklärung</div>
        </div>
    </div>

  </body>
</html>


















