<!DOCTYPE html>
<html>
  <head>
    <title>Passwort zurückgesetzt</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/password_reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}" />
  </head>
  <body>
    <div class="header-cont">
      <div class="header">
        <a href="https://bastian-wolff.de/videoflix/" class="logo">
          <img src="{% static "/img/Logo.png" %}" />
        </a>
      </div>
    </div>

    <div class="middle-cont">
      <h1>Dein Passwort wurde erfolgreich zurückgesetzt!</h1>
      <span class="link-follow"
        >Nun kannst du dich  
        <a class="link" href="https://bastian-wolff.de/videoflix/"
          >hier </a>wieder einloggen!
        </span
      >
    </div>

    <div class="footer-cont">
      <div class="footer">
        <a href="https://bastian-wolff.de/videoflix/" class="left-cont">Impressum</a>
        <a href="https://bastian-wolff.de/videoflix/" class="left-cont">Datenschutzerklärung</a>
      </div>
    </div>
  </body>
</html>
